<% @body_id = 'cart' %>

<h1>Review curtain specifications</h1>

<% if @order.line_items.empty? %>

  <div data-hook="empty_cart">
    <p><%= Spree.t(:your_cart_is_empty) %></p>
    <p><%= link_to Spree.t(:continue_shopping), products_path, :class => 'button continue' %></p>
  </div>

<% else %>
  <div data-hook="outside_cart_form">
    <%# form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
    <%= form_for @order, :url => "http://www.romancart.com/cart.asp", :html => {:id => 'update-cart'} do |order_form| %>

      <div data-hook="inside_cart_form">

        <%# ----------------------------------------------------------------------------- %>
        <div data-hook="cart_items">
        
          <%= render :partial => 'form', :locals => { :order_form => order_form } %>
          
        </div>
        <%# ----------------------------------------------------------------------------- %>

        <div class="links columns sixteen alpha omega" data-hook="cart_buttons">
          <div id="subtotal" data-hook>
            <h5><%= Spree.t(:price) %>: <span class="order-total"><%= @order.display_total.to_html %></span></h5>
          </div>
          <%# button_tag :class => 'button checkout primary', :id => 'checkout-link', :name => 'checkout' do %>
          <%= button_tag :class => 'button checkout primary', :id => 'romancart-link', :name => 'checkout' do %>
            
            Proceed to Romancart
            <%# Spree.t(:checkout) %>

          <% end %>
        </div>
      </div>
    <% end %> <%# END: 'form_for @order' %>
  </div>

  <br class="clear">

  <div id="empty-cart" data-hook>
  
    <%= form_tag empty_cart_path, :method => :put do %>
      <p id="clear_cart_link" data-hook>
        <%= submit_tag Spree.t(:empty_cart), :class => 'button gray' %>
      </p>
    <% end %> <%# END: 'form_tag empty_cart_path' %>
    
    <%= form_tag main_app.cart_completed_path, :method => :put do %>
      <%= submit_tag "ROMANCARTXML to '#{main_app.cart_completed_path}'", :class => 'button gray' %>
      <%= hidden_field_tag "checkout_complete", "true" %>
      
      <% file = IO.read("romancart-delivery-address.xml") %>
      <%# file = IO.read("romancart.xml") %>
      <%= hidden_field_tag "xml", file %>
    <% end %>
        
  </div>

<% end %> <%# END: 'if @order.line_items.empty?' %>
