<%= content_tag "div", id: "bsc-pricing", data: {
returns_addition: Spree::Config[:returns_addition],
side_hems_addition: Spree::Config[:side_hems_addition],
turnings_addition: Spree::Config[:turnings_addition],

pencil_pleat_multiple: Spree::Config[:pencil_pleat_multiple],
deep_pencil_pleat_multiple: Spree::Config[:deep_pencil_pleat_multiple],
double_pleat_multiple: Spree::Config[:double_pleat_multiple],
triple_pleat_multiple: Spree::Config[:triple_pleat_multiple],
eyelet_pleat_multiple: Spree::Config[:eyelet_pleat_multiple],

fabric_width: Spree::Config[:fabric_width] } do %>
<%# --- This 'ActionView::Helper' version uses a 'data' hash that auto converts objects to JSON representation. --- %>
<%# --- Useful, but expects an HTML content block that we don't want for just storing the pricing params! --- %>
<% end %>

<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

OK, so let's get skeletal...

  <div class="columns sixteen alpha" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">

      <div id="product-images" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= render :partial => 'image' %>
        </div>
        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails' %>
        </div>
      </div>

      <div data-hook="product_properties">
        <%= render :partial => 'properties' %>
      </div>

      <div data-hook="promotions">
        <%= render :partial => 'promotions' %>
      </div>

    </div>
  </div>

  <div class="columns ten clearfix" data-hook="product_right_part">
    <div class="row" data-hook="product_right_part_wrap">

      <div id="product-description" data-hook="product_description">

        <h1 class="product-title" itemprop="name"><%= accurate_title %></h1>

        <div itemprop="description" data-hook="description">
          <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
        </div>

<%
=begin %>
        <div id="cart-form" data-hook="cart_form">
          <%= render :partial => 'cart_form' %>
        </div>
<%
=end %>

      </div>

<%
=begin %>
      <%= render :partial => 'taxons' %>
<%
=end %>

    </div>
  </div> <%# END - data-hook="product_right_part" %>
  
  
  
  <br class="clear">

  

  <div class="columns sixteen alpha" data-hook="bsc-form-cols">
    <div class="row" data-hook="bsc-form-row">
      
      <%# --- Previously ":partial => 'cart-form'" here... --- %>

<%= form_for :order, :url => populate_orders_path do |f| %>

      <h5 class="product-section-title">Curtain width</h5>
      <%= number_field_tag 'width', nil, :id => 'width' %>

      <h5 class="product-section-title">Curtain drop</h5>
      <%= number_field_tag 'drop', nil, :id => 'drop' %>
      
      
      <%# --- Variants --- %>
      <% if @product.variants_and_option_values(current_currency).any? %>
        <div id="product-variants" class="columns five alpha">
          <h5 class="product-section-title"><%= Spree.t(:variants) %></h5>
          <ul>
            <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
              <li>
                <%= radio_button_tag "products[#{@product.id}]", variant.id, index == 0, 'data-price' => variant.price_in(current_currency).display_price, 'data-heading' => variant.option_value("heading").downcase %>
                <label for="<%= ['products', @product.id, variant.id].join('_') %>">
                  <span class="variant-description">
                    <%= variant_options variant %>
                  </span>
                  <% if variant_price variant %>
                    <span class="price diff"><%= variant_price variant %></span>
                  <% end %>
                </label>
              </li>
            <% end%>
          </ul>
        </div>
      <% end%>
      
<div class="add-to-cart">
  <%= number_field_tag (@product.variants_and_option_values.any? ? :quantity : "variants[#{@product.master.id}]"),
            1, :class => 'title', :min => 1, :onblur => "$('#add-to-cart-button').submit();" %>
  <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do %>
    <%= Spree.t(:add_to_cart) %>
  <% end %>
</div>
  
<% end %>
      
    </div>
  </div>
  
  <br>
  <div>
    <span class="doug text">
      <%= "product ID: #{@product.master.id} = #{ @product.price }"  %>
    </span>
  </div>


</div>

